NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DEMO_USER_EMAIL=
DEMO_USER_PASSWORD=

EGOV_AI_BASE_URL=https://egov-ai-core-ws.oueg.info
EGOV_AI_ACCESS_CODE=
EGOV_AI_ACCESS_TOKEN=

EGOVPAY_BASE_URL=https://egovpay-pgi-ws-dev.oueg.info
EGOVPAY_API_TOKEN=
EGOVPAY_SETTLEMENT_TEMPLATE_UUID=

EGOV_SSO_PARTNER_CODE=
EGOV_SSO_PARTNER_SECRET=
EVERIFY_CLIENT_ID=
EVERIFY_CLIENT_SECRET=
EVERIFY_PUBLIC_KEY=
EMESSAGE_ACCESS_TOKEN=
EMESSAGE_BASE_URL=https://ws-message.e.gov.ph
EMESSAGE_TEST_NUMBER=
EREPORT_ACCESS_TOKEN=
FACE_LIVENESS_API_KEY=
COMPASS_API_KEY=
